#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #121212;
}

#navbar h2 a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

#navbar form{
    display: flex;
    gap: .5rem;
}

#navbar input{
    border: none;
    border-radius: 4px;
    padding: .2rem .8rem;
}

#navbar button{
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    padding: .3rem;
    transition: .4s ease;
}

#navbar button:hover{
    background-color: transparent;
    color: #f7d354;
}